.square {
    width: 200px;
    height: 200px;
    background-color: #acacac;
}

.box {
    width: 600px;
    height: 200px;
}

.switch-enter-active,
.switch-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.switch-enter {
    transform: translateX(-300px);
    opacity: 0;
}

.switch-leave-to {
    transform: translateX(300px);
    opacity: 0;
}