.square {
    width: 200px;
    height: 200px;
    background-color: #acacac;
}

.box {
    width: 200px;
    height: 200px;
}

.switch-transition {
    transition: all 1s ease-in-out;
}

.switch-enter {
    left: 100%;
}

.switch-leave {
    left: -100%;
}