<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="js/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/ionicons-2.0.1/css/ionicons.css">
</head>

<body>
    <div class="container">
        <div id="app-2">
            <div class="d-flex p-3 bg-dark">
                <span class="mx-2 text-white" v-for="item in filters" v-on:click="chooseCategory(item)">
                   <a class="text-white" href="#"><b>{{ item }}</b></a>
                </span>
            </div>
            <div class="bg-dark text-white p-3 my-2">
                <div v-for="todo in testComputed">
                    {{ todo.text }}
                </div>
            </div>
        </div>
        <div class="row" id="app-1">
            <div class="col-12">
                <div>
                    <ol>
                        <li v-for="item in server"> Ismlari {{ item.name | makeBig }}, Yoshlari bulsa {{ item.birthday | ageIdentify }}</li>
                    </ol>
                </div>
                <div>
                    <table class="table table-bordered table-striped my-4">
                        <thead class="">
                            <tr>
                                <th scope="col" rowspan="3" class="align-middle">#</th>
                                <th scope="col" rowspan="3" class="align-middle">Maktab Nomi</th>
                                <th scope="col" rowspan="3" class="text-center align-middle">O'quvchilar soni</th>
                                <th scope="col" colspan="4" class="text-center">Kelganlar</th>
                                <th scope="col" colspan="2" class="text-center">Kelmaganlar</th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2" class="text-center">Kunlik</th>
                                <th scope="col" colspan="2" class="text-center">Oylik O'rtacha</th>
                                <th scope="col" rowspan="2" class="text-center align-middle">Kunlik</th>
                                <th scope="col" rowspan="2" class="text-center align-middle">Oylik O'rtacha</th>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center">Soni</th>
                                <th scope="col" class="text-center">Foizi</th>
                                <th scope="col" class="text-center">Foizi</th>
                                <th scope="col" class="text-center">Soni</th>
                            </tr>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kogon tuman 12-maktab</td>
                                <td class="text-center">980</td>
                                <td class="text-center">780</td>
                                <td class="text-center">780</td>
                                <td class="text-center">780</td>
                                <td class="text-center">780</td>
                                <td class="text-center">250</td>
                                <td class="text-center">250</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td class="text-danger font-weight-bold">Kogon tuman 2-maktab</td>
                                <td class="text-center">1050</td>
                                <td class="text-center">500</td>
                                <td class="text-center">500</td>
                                <td class="text-center">500</td>
                                <td class="text-center">500</td>
                                <td class="text-center">500</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Kogon tuman 3-maktab</td>
                                <td class="text-center">100</td>
                                <td class="text-center">100</td>
                                <td class="text-center">100</td>
                                <td class="text-center">100</td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery/dist/jquery.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/test.js"></script>
    <script src="js/bootstrap/js/dist/popper/dist/umd/popper.js"></script>
    <script src="js/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>